.assessment-groups-table {
    width: 100%;
    border-collapse: collapse;

    &__head {
        tr {
            border-bottom: 1px solid $grey-less;
            height: 50px;

            th {
                .assessment-groups-table-head-item-holder {
                    p {
                        @include font( 1, 600, $base-dark );       
                    }

                    .assessment-groups-table-order-holder {
                        svg {
                            transition: all .2s ease-in-out;
                            &:nth-child( 2 ) {
                                margin-top: -10px;
                            }
                        }
                    }
                }

                &.--order {
                    cursor: pointer;

                    &:hover {
                        .assessment-groups-table-head-item-holder  {
                            .assessment-groups-table-order-holder {
                                svg {
                                    color: $highlight-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__body {
        max-height: 200px;
        tr {
            border-bottom: 1px solid $grey-less;
            height: 60px;

            &:last-child {
                border-bottom: none;
            }

            td {
                @include font( 0.9, 400, $base-dark );
                text-align: center;
            }
        }

        .assessment-groups-table-users {
            gap: 5px;

            .assessment-groups-table-user-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $base-dark;
                border: 1px solid $highlight-color;
                margin-left: -15px;
                transition: all .2s ease-in-out;
                user-select: none;

                &:first-of-type {
                    margin: 0;
                }
    
                span {
                    @include font( .6, 500, $base-light );
                }

                &:hover {
                    z-index: 200;
                }
            }
        }
    }
}