.logged-user {
    &__holder {
        position: relative;
        cursor: pointer;
        column-gap: 10px;
        .logged-user-photo-holder {
            width: 48px;
            height: 48px;
            border: 1px solid $highlight-color;
            border-radius: 50%;
            background-color: $base-dark;

            p {
                @include font( 1, 600, $base-light );
            }
        }

        .logged-user-info {
            p {
                font-size: 1.2rem;
                color: $base-dark;
            }

            span {
                font-weight: 300;
                color: $base-dark;
            }
        }

        svg {
            color: $base-dark;
            transition: all .2s ease-in-out;
        }

        &:hover {
            svg {
                color: $highlight-color;
            }
        }
    }
}