@mixin flex( $justify: unset, $align: unset ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin font( $font-size: 1, $font-weight: 400, $font-color: #000, $line-height: 1.5em ) {
    font-size: #{$font-size}rem;
    font-weight: $font-weight;
    color: $font-color;
    line-height: #{$line-height};
}