$highlight-color: #8D15EC;
$highlight-color-less: #BDA9CC;
$highlight-color-more: #6004A9;
$background-light: #F4F3F4;
$background-dark: #190D23;
$base-light: #FCFBFC;
$base-dark: #1D1128;
$base-dark-less: #473D51;
$base-dark-more: #0D0514;
$grey: #B8B8B8;
$grey-less: #D9D9D9;
$grey-more: #545454;
$success: #4BFB72;
$danger: #FB4B4B;
$alert: #FFAF36;
$info: #36CFFF;

:export {
    highlightColor: $highlight-color;
    success: $success;
    danger: $danger;
    alert: $alert;
    info: $info;
}