.users-analysis {
    &__side_holder {
        max-height: 55vh;
    }

    &__content_holder {

        .users-analysis-select-user-infos {
            &__user_name {
                @include font( 1.4, 600, $highlight-color );
            }

            &__user_average_note {
                padding: 10px 25px;
                background-color: $base-dark;
                border-radius: 5px;

                p {
                    @include font( 1.4, 400, $base-light );
                } 
            }
        }

        .users-analysis-chart-holder {
            margin-bottom: 20px;
        }

        .users-analysis-text-notes {
            &__title {
                p {
                    @include font( 1.2, 600, $highlight-color );
                }
            }

            &__scroll_box {
                width: 90%;
                max-height: 300px;
                background-color: $base-light;
                border-radius: 5px;
                overflow-y: auto;

                .users-analysis-text-note {
                    padding: 30px 15px;
                    border-bottom: 1px solid #cdcdcd;

                    p {
                        @include font( 1, 400, $base-dark );
                    }

                    &:nth-child( odd ) {
                        background-color: #f7f7f7;
                    }

                    &:first-child {
                        border-radius: 5px 5px 0 0;
                    }

                    &:last-child {
                        border-bottom: none;
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
    }
}