.checkbox-simple {

    &__checkbox {
        width: 16px;
        height: 16px;
        background-color: $base-light;
        box-shadow: 0 0 2px 1px #0002;
        border-radius: 2.5px;
        transition: all .2s ease-in-out;
        overflow: hidden;

        svg {
            color: $base-light;
            width: 10px;
            height: 10px;
            transform: translateY( 20px );
            transition: all .4s ease-in-out;
        }
    }

    input {
        display: none;

        &:checked {
            & ~ .checkbox-simple__checkbox {
                background-color: $highlight-color;

                svg {
                    transform: translateY( 0 );
                }
            }
        }
    }
}